html {
	box-sizing: border-box;
}

body {
	background-color: #F3F5FC;
	font-family:'Inter', sans-serif;
}

header h1 {
	width: 70%;
	font-size: 50px;
	font-family:'Inter', sans-serif;
	color: #0A3871;
	text-align: center;
}

#cuerpo {
	width: 75%;
}

textarea{
	background-color: #F3F5FC; 
	border: none;
	position: absolute;
	top: 235.5px;
	left: 160px;
	width: 50%;
	height: 25%;
	font-size: 32px;
	color: #0A3871;
	font-family:'Inter', sans-serif;
}	
	
textarea::placeholder {
	/*color: #CED4DA;*/
	color: #0A3871;
    font-size: 32px;
    font-family:'Inter', sans-serif;

} 

.importante {
	font-size: 15px;
	position: absolute;
	top: 500px;
	left: 180px;
	color: #495057;
}

.botones {
	position: relative;
	top: 425px;
	height: 67px;
	text-align: center;
}

#encriptar, #desencriptar {
	width: 328px;
	height: 67px;
	border-radius: 24px;
	padding: 24px;
	font-size: 16px;
	margin-right: 8px;
	cursor: pointer;
}


#encriptar{
	background-color: #0A3871;
	color: white;
	border:  1px solid #0A3871;
}

#encriptar:hover {
	background-color: #052051;
	color: #CED4DA;
}

#encriptar:active {
	background-color: #052051;
	color: #CED4DA;
	transform: scale(0.98);
}

#desencriptar {
	background-color: #D8DFE8;
	color: #0A3871;
	border: 1px solid #0A3871;
}

#desencriptar:hover {
	background-color: #ADB5BD;
	color: #072B61;
}

#desencriptar:active {
	background-color: #ADB5BD;
	color: #072B61;
	transform: scale(0.98);
}

.visor {
	background-color: white;
	border-radius: 32px;
	/*width: 400px;*/
	width: 25%;
	height: 615px;
	position: absolute;
	top: 17px;
	right: 15px;
	box-shadow: 0px 24px 32px -8px #00000014;
}

#caja-texto {
	display: none;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	width: 80%;
	height: auto;
	margin: 20px auto -2px auto;
	word-wrap: break-word;
	font-size: 24px;
  	
}


.visor img{
	width: 75%;
	margin: 10% 12.5% 15% 12.5%;

}

#espacio-texto {
	text-align: center;
}

#mensaje-no-encontrado{
	font-size: 24px;
	font-weight: bold;
	color: #343A40;
	font-weight: bold;
}

#ingrese-mensaje{
	font-size: 16px;
	color: #495057;
}

#copiar {
	width: 250px;
	height: 41px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #0A3871;
	border: 1px solid #0A3871;
	position: fixed;
	left: 78%;
	top: 580px;
	display: none;
}

#copiar:hover {
	background-color: #EFF1FA;
}

#copiar:active {
	background-color: #EFF1FA;
	transform: scale(0.98);
}

@media (max-width:  1115px){

	#cuerpo {
		width: 100%;
	}

	header h1{
		width: 100%;
		text-align: center;
	}

	textarea {
		width: 80%;
		height: auto;
		left:  10%;
	}

	.botones {
		position: static;
		margin:10px auto 0 auto;
		width: 100%;
		height: auto;
	}

	#encriptar, #desencriptar{
		width: 40%;
		margin: 0;
	}

	.importante {
		position: static;
		margin-top:  800px;
		margin-left: 12%;
		width: 100%;
		height: auto;
	}

	.visor {
		background-color: white;
		border-radius: 32px;
		width: 80%;
		height: auto;
		position: static;
		margin: 20px auto 20px auto;
		padding: 10px;
		font-family: "Inter", sans-serif;
		font-weight: 400;
	}

	.visor img {
		display: none;
	}

	#copiar {
		position: static;
		margin: 20px auto 10px auto;
	}
}

@media (max-width: 400px){
		

	#encriptar, #desencriptar{
		width: 90%;
		margin: 0;
	}

	.visor {
		padding: 20px;
	}

	.importante {
		word-wrap: break-word;
		width: 80%;
	}
}